$base-font-size: 16px;
$content-size: 1190px;

$dark-blue: #6a96f8;
$medium-blue: #a6c0fb;
$light-blue: #e1eafe;
$blue-hover: #366ce5;

$black: #333333;
$dark-black: #5c5c5c;
$medium-black: #adadad;
$light-black: #d6d6d6;

$white: #ffffff;

$medium-black: #adadad;
$grey: #f1f4f4;
$red: #ee4456;
